@font-face {
  font-family: "Monaspace Krypton";
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/monaspace-krypton@latest/latin-400-normal.woff2)
    format("woff2");
}

body {
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.coin-item {
  position: fixed;
  left: 4vw;
  top: 4vw;
  color: white;
  font-family: "Monaspace Krypton";
  font-size: 20px;
}
h1 {
  color: white;
  font-family: "Monaspace Krypton";
  font-size: 60px;
}
h2 {
  color: white;
  font-family: "Monaspace Krypton";
  font-size: 30px;
}
h3 {
  color: white;
  font-family: "Monaspace Krypton";
  font-size: 20px;
}
